<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom border-dark box-shadow">
  <div class="container d-flex flex-wrap">
    <div class="d-flex flex-row align-items-center flex-grow-1 flex-sm-grow-0 justify-content-between justify-content-sm-start">
      <img src="{% link assets/images/otd.png %}" height="64" alt="Site Icon">
      <a class="navbar-brand text-white ms-3" href="{% link index.md %}">OpenTabletDriver</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                                                                                              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" href="{% link index.md %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% link _sections/Tablets.md %}">Tablets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% link _sections/Plugins.md %}">Plugins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% link _sections/Wiki.md %}">Wiki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{{ site.github_otd_repo_url }}/releases">Changelog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{{ site.github_otd_repo_url }}">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{{ site.discord_invite_url }}">Discord</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
