---
layout: default
---
<section class="py-5 text-center">
    <h1 class="col-lg-6 col-md-8 mx-auto">{{ site.title }}</h1>
    <h5 class="my-2 text-center">v{{ site.data.otd-versions | last }}</h5>
    {{ content }}
</section>
<div class="pb-2">
  {%- include platformcards.html -%}

  {% assign wikifiles = site.collections | where: "label", "wiki" | first %}
  {% assign folders = site.wiki |
                where_exp: "item", "item.hide_from_auto_list == false" |
                group_by_exp: "item", "item.path | split: '/' | slice: 1" |
                reverse %}

  {%- for folder in folders -%}
    {% assign folderTitle = site.data.wiki.title-remaps |
                  where: "OldTitle", folder.name[0] |
                  map: "NewTitle" | first |
                  default: folder.name[0] %}

    <h3 id="{{ folderTitle | slugify }}">{{ folderTitle }}</h3>
    <ul>
      {% assign sortedItems = folder.items | sort: "title" %}
      {%- for file in sortedItems -%}
        <li>
          <a class="link-light" href="{{ file.url }}">{{ file.title }}</a>
        </li>
      {%- endfor -%}
    </ul>
  {%- endfor -%}
</div>
