---
layout: default
---

{% assign plugins = "" | split: ',' %}
<div class="container">
  <div class="d-flex mb-3">
    <div class="flex-fill">
      <div class="form-floating me-3">
        <input type="text" class="form-control" id="searchInput" placeholder="Search" onkeyup="filterInput()"/>
        <label for="searchInput">Search</label>
      </div>
    </div>
    <div class="flex-fill">
      <div class="form-floating">
        <select class="form-select" id="pluginVersionSelector" onchange="filterInput()">
          {% assign otdversions = "" | split: ',' %}
          {%- for version in site.data.plugin-repository.Repository -%}
            {%- for owner in version[1] -%}
              {%- for repo in owner[1] -%}
                {%- for item in repo[1] -%}
                  {% assign plugins = plugins | push: item[1] %}
                  {% assign otdversions = otdversions | push: item[1].SupportedDriverVersion %}
                {%- endfor -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endfor -%}

          {% assign otdversions = otdversions | sort | uniq | reverse %}

          <option value="">All Versions</option>
          {% assign elementAttributes = " selected" %}
          {%- for version in otdversions -%}
            <option value="{{version}}" {{elementAttributes}}>{{version}}</option>
            {% if elementAttributes %}
              {% assign elementAttributes = nil %}
            {% endif %}
          {%- endfor -%}
        </select>
        <label style="color: rgba(0,0,0,0.5)" class="form-label" for="pluginVersionSelector">Driver Version</label>
      </div>
    </div>
  </div>

  <div id="metadataList">
    {% assign plugins = plugins | sort: "Name" %}
    {%- for metadata in plugins -%}
      {% assign supportedDriverVersionSplit = metadata.SupportedDriverVersion | split: '.' %}
      {% assign maxSupportedDriverVersion = "" %}
      {% assign otd_versions = site.data.otd-versions | reverse %}
      {%- capture maxSupportedDriverVersion -%}
        {% if metadata.MaxSupportedDriverVersion != nil %}
          {{ metadata.MaxSupportedDriverVersion }}
        {% else %}
          {% for driverVersion in otd_versions %}
            {% assign driverVersionSplit = driverVersion | split: '.' %}
            {% if driverVersionSplit[0] == supportedDriverVersionSplit[0] %}
              {% if driverVersionSplit[1] == supportedDriverVersionSplit[1] %}
                {% if driverVersionSplit[2] >= supportedDriverVersionSplit[2] %}
                  {{ driverVersion }}
                  {% break %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {%- endcapture -%}
      <div class="card mb-2 plugin-metadata-card"
          data-name="{{ metadata.Name }}" data-version="{{ metadata.SupportedDriverVersion }}">
        <div class="card-body d-flex flex-lg-row flex-column flex-wrap p-4 justify-content-end">
          <div class="flex-fill">
            <!-- version badges -->
            <div class="d-flex flex-row mb-2">
              <span class="badge bg-primary me-2"
                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Version of this plugin">{{ metadata.PluginVersion }}</span>
              <span class="badge bg-success me-2"
                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Oldest compatible OpenTabletDriver version">{{ metadata.SupportedDriverVersion }}</span>
              <span class="badge bg-success"
                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Newest compatible OpenTabletDriver version">{{ maxSupportedDriverVersion }}</span>
            </div>
            <!-- plugin name -->
            <span class="h4" style="margin-bottom: 0px; display: block;">{{ metadata.Name }}</span>
            <!-- plugin author -->
            <span class="small" style="margin-top: -2px; display: block">by {{ metadata.Owner }}</span>
            <!-- plugin body -->
            <div class="my-2">
              {{ metadata.Description }}
            </div>
          </div>
          <div class="align-self-end">
            <!-- buttons -->
            <div class="btn-group">
              {%- if metadata.DownloadUrl -%}
              <a role="button" class="btn btn-primary" href="{{ metadata.DownloadUrl }}">
                Download
              </a>
              {%- endif -%}
              {%- if metadata.WikiUrl -%}
              <a role="button" class="btn btn-info" href="{{ metadata.WikiUrl }}">
                Wiki
              </a>
              {%- endif -%}
              {%- if metadata.RepositoryUrl -%}
              <a role="button" class="btn btn-info" href="{{ metadata.RepositoryUrl }}">
                Source
              </a>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{% include filterjs.html %}
