---
layout: default
---

{% include wiki/header.html %}

<div class="pb-2">
  {% include platformcards.html %}

  {% assign wikifiles = site.collections | where: "label", "wiki" | first %}
  {% assign folders = site.wiki |
                where_exp: "item", "item.hide_from_auto_list == false" |
                group_by_exp: "item", "item.path | split: '/' | slice: 1" |
                reverse %}

  {%- for folder in folders -%}
    {% if folder.name[0] == "FAQ" %} <!-- FIXME: use data file for remapping names -->
      {% assign folderTitle = "Frequently Asked Questions" %}
    {% else %}
      {% assign folderTitle = folder.name[0] %}
    {% endif %}
    <h3 id="{{ folderTitle | slugify }}">{{ folderTitle }}</h3>
    <ul>
      {% assign sortedItems = folder.items | sort: "title" %}
      {%- for file in sortedItems -%}
        <li>
          <a class="link-light" href="{{ file.url }}">{{ file.title }}</a>
        </li>
      {%- endfor -%}
    </ul>

  {%- endfor -%}
  {{ content }}
</div>
