<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {%- if page.title -%}
    <title>{{ page.title }} - {{ site.title }}</title>
    {%- else -%}
    <title>{{ site.title }}</title>
    {%- endif -%}
    {% include styles.html %}
  </head>
  <body data-bs-theme="dark">
    <header>
      {% include header.html %}
    </header>
    <main role="main" class="container mb-5">
      {{ content }}
    </main>

    {% include scripts.html %}
    {% include fix-fouc.html %}
  </body>
</html>
